{{!-- our card template injecting properties from the book model --}}
{{!-- such as the title of the specified book title, author, id and book cover --}}
<div class="wrapper">
  <div class="scifi_card">
    <div class="card_left">
      <div class="card_datails">
        <h1>{{title}}</h1>
        <div class="card_cat">

          <p class="author">{{author}}</p>
          {{!-- <p class="genre">Sci-Fi</p> --}}
        </div>
         <div class="mobile-img">
        {{#if cover}}
        <img src="{{cover}}"
          alt="{{title}}">
          {{else}}
          <img src="https://via.placeholder.com/400.png?text={{title}}" alt="{{title}}">
          {{/if}}
      </div>

{{!-- by usin the book id this button will bring to a page viewing the specied book clicked  --}}
        <div class="social-btn">
          <a href="/books/{{id}}"><button>
              <i class="view-book fas fa-play"></i> View This Book
            </button></a>

        </div>
      </div>
    </div>
    {{!-- displays book cover on card but if no cover exists a placeholder image will appear --}}
    <div class="card_right">
      <div class="img_container">
        {{#if cover}}
        <img src="{{cover}}"
          alt="{{title}}">
          {{else}}
          <img src="https://via.placeholder.com/400.png?text={{title}}" alt="{{title}}">
          {{/if}}
      </div>

    </div>
  </div>
 

</div>