<div class="wrapper">
    <div class="scifi_card ">
      <div class="card_left">
        <div class="card_datails genre_title">
            <p class="disc">{{name}}</p>
        <div class="social-btn">
          <a href="/genres/{{id}}"><button>
              <i class="view-book fas fa-play"></i> View All Books in this Genre
            </button></a>
        </div>	
        </div>
      </div>
    </div>
    
    {{!-- <div class="wrapper">
  <div class="scifi_card">
    <div class="card_left">
      <div class="card_datails">
        <h1>{{name}}</h1>

        <div class="card_cat">

          <p class="author">{{author}}</p>
          <p class="genre">Sci-Fi</p>
        </div>


        <div class="social-btn">
          <a href="/genres/{{id}}"><button>
              <i class="view-book fas fa-play"></i> View All Books in this Genre
            </button></a>
        </div>
      </div>
    </div>
    <div class="card_right">
      <div class="img_container">
      </div>

    </div>
  </div>
</div> --}}