<section>

  <div class="wrapper">
    <div class="scifi_card">
      <div class="card_left">
        <div class="card_datails">
          <h1>{{book.title}}</h1>
          <div class="card_cat">

            <p class="author">{{book.author}}</p>
            {{!-- <p class="genre">Sci-Fi</p> --}}
          </div>
          {{#if book.favorite}}
          <button>
            <i class="fas fa-download"></i> In Favorites!
          </button>
          {{else}}
          <button id="favorite-book">
            <i class="fas fa-download"></i> Add Favorite
          </button>
          {{/if}}
          {{#if book.has_read}}
          <button>
            <i class="fas fa-thumbs-up"></i> I've Read This
          </button>
          {{else}}
<<<<<<< HEAD
          <button id="read-book">
=======
          <button>
>>>>>>> main
            <i class="fas fa-thumbs-up"></i> Mark As Read
          </button>
          {{/if}}
          <button id="delete-book">
            <i class="fas fa-download"></i>
            Delete From Library
          </button>

        </div>
      </div>
    </div>
    <div class="card_right">
      <div class="img_container">
        <img src={{cover}} alt="book cover">
      </div>

    </div>
  </div>
  </div>

  <button id="delete-book">
    <i class="fas fa-download"></i>
    Delete From Library
  </button>
</section>

<script src="/js/update-book.js"></script>
<script src="/js/delete-book.js"></script>